div.dia {
   width: 50px;
   height: 50px;
   display: inline-block;
   margin: 4px;
   border: 1px solid black;
   text-align: center;
   font-size: 20px;
   line-height: 25px;
   text-align: center;
   
   }

   div.dia.amagat {
    visibility: hidden;
}